body {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    color: darkgoldenrod;
    background-color: black;
    

}
header {
    font-family: "Lucida Handwriting";
    text-align: center;
}

img {
    max-width: 750px;
    max-height: 750px;
    object-fit: contain;
    padding: 1.875em 0
}
