body {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    color: darkgoldenrod;
    background-color: black;
    

}
header {
    font-family: "Lucida Handwriting"
}

img {
    max-width: 1000px;
    max-height: 1000px;
    object-fit: contain;
}
